<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Salesforce Login Automation Suite" verbose="1" parallel="none">
    <test name="Valid Login Test">
        <classes>
            <class name="com.salesforce.testcases.ValidLoginTest"/>
        </classes>
    </test>
    <test name="Invalid Login Test">
        <classes>
            <class name="com.salesforce.testcases.InvalidLoginTest"/>
        </classes>
    </test>
</suite>
